<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="form">
    <form action="/" method="POST">
        
        <p>
        <label for="exam_name">Name of Exam:</label>
        <input type="text" name="exam_name"><br>
        </p>

        <p>
        <label for="science">Science: </label>
        <input type="number" name="science" placeholder="0" min="0" max="100"><br>
        </p> 

        <p>
        <label for="math">Mathematics: </label>
        <input type="number" name="math" placeholder="0" min="0" max="100"><br>
        </p>

        <p>
        <label for="sinhala">Sinhala: </label>
        <input type="number" name="sinhala" placeholder="0" min="0" max="100"><br>
        </p>

        <p>
        <label for="english">English: </label>
        <input type="number" name="english" placeholder="0" min="0" max="100"><br>
        </p>

        <p>
        <label for="history">History: </label>
        <input type="number" name="history" placeholder="0" min="0" max="100"><br>
        </p>

        <p>
        <label for="religion">Religion: </label>
        <input type="number" name="religion" placeholder="0" min="0" max="100"><br>
        </p>

        <p>
        <label for="category_1">Category 1: </label>
        <input type="number" name="category_1" placeholder="0" min="0" max="100"><br>
        </p>

        <p>
        <label for="category_2">Category 2: </label>
        <input type="number" name="category_2" placeholder="0" min="0" max="100"><br>
        </p>

        <p>
        <label for="category_3">Category 3: </label>
        <input type="number" name="category_3" placeholder="0" min="0" max="100"><br>
        </p>

        <button type="submit">Submit</button>
    </form>
    </div>

    {% if result %}
    <div class="show-marks">
        <h4> Results for {{ result.exam_name }}</h4>
        <hr>
        <p><strong>Science: </strong> {{ result['science'] }}</p>
        <p><strong>Mathematics: </strong> {{ result['mathematics'] }}</p>
        <p><strong>Sinhala: </strong> {{ result['sinhala'] }}</p>
        <p><strong>English: </strong> {{ result['english'] }}</p>
        <p><strong>History: </strong> {{ result['history'] }}</p>
        <p><strong>Religion: </strong> {{ result['religion'] }}</p>
        <p><strong>Category-1: </strong> {{ result['category_1'] }}</p>
        <p><strong>Category-2: </strong> {{ result['category_2'] }}</p>
        <p><strong>Category-3: </strong> {{ result['category_3'] }}</p>
    </div>
    {% endif %}


</body>
</html>